#=============================================
# General
#=============================================
ALCHEMY_API_KEY=
# ropsten/mainnet etc.
ETH_NETWORK=goerli
# IMX API endpoint
PUBLIC_API_URL=https://api.sandbox.x.immutable.com/v1
STARK_CONTRACT_ADDRESS=0x7917eDb51ecD6CdB3F9854c3cc593F33de10c623
REGISTRATION_ADDRESS=0x1C97Ada273C9A52253f463042f29117090Cd7D83
GAS_LIMIT=7000000
GAS_PRICE=40000000000

#=============================================
# Bulk Minting
#=============================================
PRIVATE_KEY1=
TOKEN_ID=
TOKEN_ADDRESS=
BULK_MINT_MAX=50

#=============================================
# Onboarding
#=============================================
OWNER_ACCOUNT_PRIVATE_KEY=
COLLECTION_CONTRACT_ADDRESS=
COLLECTION_PROJECT_ID=


#=============================================
# Logger
#=============================================
LOG_LEVEL=DEBUG
# Only log from the following components
LOG_COMPONENT_FILTER=
# Comma separated list of log handlers eg. CONSOLE_HUMAN,CONSOLE_JSON,FILE_JSON
LOG_HANDLERS=CONSOLE_HUMAN
LOG_HANDLER_CONSOLE_HUMAN_TYPE=console
LOG_HANDLER_CONSOLE_HUMAN_ENCODER=human
LOG_HANDLER_CONSOLE_JSON_TYPE=console
LOG_HANDLER_CONSOLE_JSON_ENCODER=json
LOG_HANDLER_FILE_JSON_TYPE=file
LOG_HANDLER_FILE_JSON_ENCODER=json
LOG_HANDLER_FILE_JSON_FILENAME=wallet.log
